.mouse-click{
    cursor: pointer;
}

.card-img-fixed {
    height: 200px;        /* altura padronizada */
    object-fit: contain;    /* corta sem distorcer */
    width: 100%;          /* garante largura total */
    border-bottom: 1px solid #eee;
}